@tailwind base;
@tailwind components;
@tailwind utilities;

.translate-z-0 {
  transform: translateZ(0px);
}
.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f13024;
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  color: #f13024;
}
.swiper {
  touch-action: pan-y;
}
.scrollable-slider {
  touch-action: pan-y; /* allows vertical scrolling while dragging slider */
}


.aboutText{
  font-size: 6vh;
  margin: 0% 0 0 0;
}
.heading-main{
font-size: 8vh;
}
@media screen and (max-width: 768px) {
      .heading-main{
        font-size: clamp(2rem, 6vw, 3.5rem);
      }
      .client-heading
      {
        margin-top:70%;
      }
      .contact-con
      {
        max-height: 50vh;
        overflow-y: auto;
        padding-bottom:2vh ;
      }
      .service-con
      {
        max-height: 50vh;
        overflow-y: auto;
      }
      .aboutText{
        font-size: clamp(1.2rem, 4vw, 2rem);
      }
      .projectTitle
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* padding: 1vh 1vh 0 1vh */
      }
      .Toastify__toast {
        max-width: 250px; /* Set the desired width */
      }
      .Toastify__toast-container {
        align-items: center;
        display: flex;
        justify-content: center;
      }
}
@layer base {
  body {
    @apply bg-secondary overflow-x-hidden leading-relaxed;
  }
  .page {
    @apply w-full min-h-screen overflow-x-hidden; 
  }
  .h1 {
    @apply text-[35px] leading-tight md:text-[60px] md:leading-[1.3] mb-8 font-semibold;
  }
  .h2 {
    @apply text-[35px] leading-tight md:text-[54px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.8] text-white/60 font-light;
  }
  .btn,
  .input {
    @apply h-[52px];
  }
  .input {
    @apply w-full h-[52px] rounded-lg pl-6;
  }
  .input,
  .textarea {
    @apply bg-transparent outline-none focus:ring-1 focus:ring-accent border border-white/20 placeholder:text-white/30 placeholder:font-light;
  }
  .textarea {
    @apply w-full h-[180px] p-6  rounded-lg resize-none;
  }
  .scrollable-page {
   overflow-y: auto; 
   -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */                 /* Allow vertical scrolling */
  max-height: 100vh;                 /* Full viewport height */
  }
}
